* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  height: 10vh;
  display: flex;
  border-bottom: 1px solid;
}

header h1 {
  margin: auto;
}

footer {
  height: 10vh;
  display: flex;
  border-top: 1px solid;
}

footer p {
  margin: auto;
}

main {
  padding: 3vh 5vh;
  min-height: calc(100vh - 20vh);

  display: flex;
  gap: 20px;
}

main > section {
  border: 1px solid;
  padding: 1rem;
  flex: 1;
}

section#side-menu {
  flex: 0 0 15%;
}
